<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Islot app </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#" routerLink="/contact"   routerLinkActive="active current"> Contact</a></li>
        <li><a href="#"  routerLink="/rforms">Forms</a></li>
        <li><a href="#" routerLink="/login/1" routerLinkActive="active current">Login</a></li>
      </ul>
    </div>
  </nav>